body{
  margin:0;
  font-family: "Lato",sans-serif;
  font-weight: 400;
  overflow-x:hidden;
}

.side-bar {
  margin:0;
  padding:0;
  width:25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: hidden;
  background:  url(img2.jpg);
  background-size: cover;

}

ul{
  list-style-type:none;
}

li a{
  display: block;
  color:#000;
  padding:16px 16px;
  margin-left:10px;
  margin-top:20px;
  text-decoration: none;
  letter-spacing: 2px;
  color:white;
  font-size: 15px;
}

/*li a.active {*/
/*  background-color: ;*/
/*  color:white;*/
/*}*/

li a:hover{
  background-color:#b3b3ff;
  color:white;
}
 
.xyz{

      animation: blinker-one 1s linear infinite;
      
}
 @keyframes blinker-one {  
      0% { opacity: 0; }
      }
.project{
  margin-left:25%;
  padding:1px 16px;
}

.profile_shape{
  width:15rem;
  height:15rem;
  float:left;
  /* shape-outside:circle(50% at 50% 50%); */
  clip-path:circle(40% at 52% 42%);;
  position:relative;
  
}

.profile_img{
  height:100%;
  transform:translate(1.5rem) scale(1);
  backface-visibility: hidden;
  transition:all .5s;
}

.caption{
  
}

.profile_caption{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, 20%);
  text-transform: uppercase;;
  color:#fff;
  font-size: 1.7rem;
  text-align:center;
  opacity:0;
  transition:all .5s;
  backface-visibility: hidden;
}

.side-bar:hover .profile_caption{
  opacity:1;
  transform:translate(-50%,-50%);
  backface-visibility: hidden;
}

.side-bar:hover .profile_img{
  transform: :translateX(-4rem) scale(1.5);
  filter:blur(4px) brightness(80%);
  backface-visibility: hidden;
}

.caption{
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 2px;
  color:white;
  font-size: 15px;
}

.gradient-1{
  width: 78%;
  height: 102%;
  position: absolute;
  top:0px;
  left:24%;
  margin:0;
  padding: 0;
  z-index: -1;
}

.gradient-2{
  width:93%;
  height: 100%;
  position: absolute;
  left:17%;
  top:700px;
  margin:0;
  padding:0;
  z-index: -1;
/*  transform: rotate(-15deg);*/
}

.gradient-3{
  width:77%;
  height: 100%;
  margin:0;
  padding:0;
  z-index:-1;
  position:absolute;
  left:25%;
  top:2050px;
}

.info{
  color: white;
  letter-spacing: 2px;
  margin-left:3%;
}

.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
  backface-visibility: hidden;
   /* Remove this if you don't want the 3D effect */
}

.flip-box img{
  width: 300px;
  height: 200px;
  border-radius: 5%;
  box-shadow:4px 7px 10px rgba(0,0,0,0.15);

}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(-180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the back side */
.flip-box-back {
  background-image:linear-gradient(-45deg,#0066ff,#001f4d);
  color: white;
  transform: rotateY(180deg);
  border-radius: 5%;

}

.column{
  float:left;
  width:30%;
  padding-right: 3.3%;
  margin-top:30px;
}

.row:after{
  content:"";
  display: table;
  clear: both;
}

.card{
  /* margin-top:100px; */
}

.btn{
  text-transform: uppercase;
  text-decoration: none;
  padding:0.2rem 1.5rem;
  display:inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.1rem;
  animation:moveUp 1s ease-out 0.75s;
  animation-fill-mode: backwards;
  background-color: #fff;
  color:#777;
  margin-top:25px;
}

.btn:hover, .btn:focus{
  transform:translateY(-0.3rem)
  box-shadow:0 1rem 2rem rgba(0,0,0,0.2);
}

.btn:hover::after,.btn:focus::after{
  transform: scaleX(1.4) scaleY(1.6);
  opacity:0;
}

.btn:active{
  transform: translateY(-0.1rem);
  box-shadow:0 0.5rem 1rem rgba(0,0,0,0.2)
}

.project-2{
  color:black;
  margin-top:120px;
}

.proj-3{
  color:black;
 
}

/* scroll bar  */

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px purple; */
  /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image:linear-gradient(-60deg,#003399,#e6eeff);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#3333ff
}



/* progress bar  */


/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  margin-left:25%;
  z-index: 1;
  width: 100%;
  /* background-color: #f1f1f1; */
}

/* The progress container (grey background) */
/* .progress-container {
  width: 100%;
  height: 5px;
  background: #ccc;
} */

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 5px;
  background-image:linear-gradient(-60deg,#003399,#e6eeff);
  width: 0%;
}



/*
=========
SKILLS & OFFER
=========
  */

  .container{
    width:80%;
    padding-left:4%;
  }

  .container p{
    letter-spacing: 0.5px;
    line-height: 2;
    color:#333;
  }

  .first_p{
    padding-bottom: 30px;
    color:#1472C3;
  }

  .second_p{
    margin-top:50px;
    padding-bottom: 30px;
    color:#1472C3;
  }

  .third_p{
    margin-top:50px;
    color:#1472C3;
    padding-bottom: 30px;

  }

  p i {
    margin-right:30px;
    margin-top:30px;
    color:grey;
    transition: all 0.3s;
  }

  p i:hover{
    color:white;
  }


  .box{
    width:100%;
    background-color: #ddd;
    border-radius: 5px;
  }

  .bar{
    margin-top: 50px;
    padding-bottom: 30px;
  }

  .skills{
    text-align: right;
    padding:10px;
    color:white;
  }

  .html {width:85%;  background-image:linear-gradient(-90deg,#556270,#ff6b6b);border-radius: 5px;}
  .css {width: 60%; background-image:linear-gradient(-90deg,#f0c27b,#4b1248);border-radius: 5px;}
  .js {width: 70%; background-image:linear-gradient(-90deg,#00bf8f,#001510);border-radius: 5px;}
   .sb {width: 60%; background-image:linear-gradient(-90deg,#00bf8f,#001510);border-radius: 5px;}
  .ang {width: 65%; background-image:linear-gradient(-90deg,#e53935,#e35d5b);border-radius: 5px;}
   .java {width: 90%; background-image:linear-gradient(-90deg,#fc00ff,#00dbde);border-radius: 5px;}
  .mysql {width: 60%; background-image:linear-gradient(-90deg,#304352,#d7d2cc);border-radius: 5px;}
    .C {width: 70%; background-image:linear-gradient(-90deg,#2c3e50,#3498db);border-radius: 5px;}
    .Cc {width: 65%; background-image:linear-gradient(-90deg,#304352,#d7d2cc);border-radius: 5px;}






  .sidebar {
    height: 0;
    width: 100%;
    position: absolute;
    z-index: 100;
    top: 395px;
    left: 0;
    /* background-image: linear-gradient(-45deg, #c31432, #240b36);     */
       /*background: linear-gradient(-90deg, rgb(156, 7, 111,0.99), rgba(216, 5, 47,0.99));*/
       background-color: #1472C3;
   
    overflow-x: hidden;
    overflow-y:hidden;
    transition: 0.5s;

  }

  .sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color:white;
    display: block;
    transition: 0.3s;
    margin-left:140px;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }

  .sidebar .closebtn {
    position: absolute;
    top: -10px;
    right: 5px;
    font-size: 36px;
    margin-left: 70px;
  }

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    /* background-image: linear-gradient(-45deg, #c31432, #240b36); */
    /* background-image: linear-gradient(-45deg, #c31432, #240b36); */
    /* background-color: #ED213A; */
       /* background-image: linear-gradient(-10deg, #c31432, #240b36); */
       /*background: linear-gradient(-90deg, rgba(156, 7, 112, 0.986), rgba(216, 5, 47, 0.911));*/
        background-color: #1472C3;
    color: white;
    padding: 10px 15px;
    border: none;
    float: right;
    width:100%;
    
  }

  .openbtn:hover {
    /* background-color: #444; */
    border:none;
  }
  .openbtn:focus{
    border:none;
    outline:none;
  }

  #main {
    transition: margin-left .5s;

  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {
      padding-top: 15px;
    }

    .sidebar a {
      font-size: 18px;
    }

    .sidebar a {
      display: none;
    }

  }

  .d1-vertical dt{
    display: block;
    float:left;
    clear:both;
    width:150px;
  }

  dd a{
    color:#0055ff;
    text-decoration: none;
  }

  dd i{
    margin-right:5px;
  }
